<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <h1><%= pergunta.titulo %></h1>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form>
            <h3>Responda</h3>
            <label>Resposta:</label>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>"/>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
    </div>
</body>
<%- include('partials/footer.ejs') %>